/* Обнуление стилей */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

/* Подключение шрифтов */
@font-face {
	font-family: "HelveticalLight";
	src: url(../fonts/HelveticaLTStd-Light.ttf);
}
@font-face {
	font-family: "HelveticalBold";
	src: url(../fonts/Helvetica-LT-Std-Bold_22473.ttf);
}
@font-face {
	font-family: "HelveticalRoman";
	src: url(../fonts/HelveticaLTStd-Roman.otf);
}
@font-face {
	font-family: "HelveticalCondensed";
	src: url(../fonts/HelveticaLTCondensedRegular.ttf);
}
@font-face {
	font-family: "CherrySwash";
	src: url(../fonts/CherrySwash-Regular.otf);
}
/* Обёртки и шаблоны */
.wrap {
	height: 100%;
	width: 100%;
	position: relative;
}
.container {
	max-width: 986px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

/* Header */
header {
	position: relative;
	z-index: 1;
	background-color: #4c97a2;
}
header .header-row .logo {
	padding: 27px 16px 27px 16px;
}
header .header-row .logo .logo-item {
	color: #ffffff;
	font-size: 40px;
	font-family: "CherrySwash";
}

header .header-row {
	display: flex;
	justify-content: space-between;
}
header .page-nav li.nav-item {
	font-family: "HelveticalCondensed";
	font-size: 18px;
	color: #dce3e4;
	text-transform: uppercase;
	padding-left: 21px;
	cursor: pointer;
}
header .page-nav li.nav-item:not(:last-child)::after {
	content: "/";
	font-size: 18px;
	color: #dce3e4;
	padding-left: 21px;
	vertical-align: middle;
}
header .page-nav li.nav-item:hover {
	color: #ffffff;
}
header .page-nav {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

@media (max-width: 767px) {
	header .header-row nav {
		display: none;
	}
	header .header-row .logo {
		padding: 20px 16px 20px 16px;
	}
	header .header-row .logo .logo-item {
		font-size: 30px;
	}
}
/* Main обложка */

main .main-bg {
	width: 100%;
	height: 564px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/Sea.jpg) no-repeat;
	background-size: cover;
}

main .main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 457px;
	position: relative;
}

main .title {
	text-transform: uppercase;
	font-size: 44px;
	color: #e4e4e4;
	font-family: "HelveticalBold";
	text-align: center;
	width: 60%;
}
main .button-body {
	border: 3px solid #e4e4e4;
	border-radius: 5px;
	padding: 10px 45px 10px 45px;
	margin-top: 45px;
	cursor: pointer;
}
main .button-body:hover {
	border: 3px solid #fff;
	color: #ffffff;
	background-color: rgba(175, 177, 180, 0.2);
}
main .main-button {
	font-family: "HelveticalLight";
	font-size: 30px;
	color: #e4e4e4;
}
main ul.slider-status li {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-left: 14px;
}
main ul.slider-status {
	position: absolute;
	bottom: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
	main .main-bg {
		height: 562px;
	}
	main .main-content {
		height: 455px;
	}
}
@media (max-width: 767px) {
	main .main-bg {
		height: 428px;
	}
	main .main-content {
		height: 348px;
	}
	main .title {
		font-size: 28px;
	}
	main .main-button {
		font-size: 20px;
	}
	main .button-body {
		padding: 5px 25px 5px 25px;
		margin-top: 25px;
	}
	main ul.row {
		bottom: 10px;
	}
}
/* Второй main section */
.lorem-content {
	display: flex;
	align-items: center;
}
.lorem-content .lorem-title {
	width: 65%;
	font-size: 30px;
	color: #4c505d;
	font-family: "HelveticalLight";
	text-align: center;
	margin-top: 75px;
}
.lorem-content .subtitle {
	width: 90%;
	color: #4c505d;
	font-size: 14px;
	font-family: "HelveticalRoman";
	text-align: center;
	margin-top: 45px;
}

.lorem-content ul.icons {
	width: 40%;
	display: flex;
	justify-content: space-between;
	margin: 65px 0px 75px 0px;
}
.lorem-content ul.icons .icon-item {
	max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.lorem-content .lorem-title {
		margin-top: 50px;
	}
	.lorem-content ul.icons {
		margin: 50px 0px;
	}
}

@media (max-width: 767px) {
	.lorem-content .lorem-title {
		margin-top: 30px;
	}
	.lorem-content ul.icons {
		width: 70%;
		margin: 35px 10px 30px 10px;
	}
	.lorem-content .subtitle {
		margin-top: 30px;
	}
}
/* Footer */
footer {
	background-color: #00d089;
}
footer .footer-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer .footer-content > span {
	font-size: 14px;
	font-family: "HelveticalCondensed";
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 0;
}
