/* dropping styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	resize: none;
	outline: none;
	overflow: none;
	outline-offset: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* fonts  */
@font-face {
	font-family: "HelveticalLight";
	src: url(../fonts/HelveticaLTStd-Light.ttf);
}
@font-face {
	font-family: "HelveticalBold";
	src: url(../fonts/Helvetica-LT-Std-Bold_22473.ttf);
}
@font-face {
	font-family: "HelveticalRoman";
	src: url(../fonts/HelveticaLTStd-Roman.otf);
}
@font-face {
	font-family: "HelveticalCondensed";
	src: url(../fonts/HelveticaLTCondensedRegular.ttf);
}
@font-face {
	font-family: "CherrySwash";
	src: url(../fonts/CherrySwash-Regular.otf);
}
/* wrapper and templates */
.wrap {
	height: 100%;
	width: 100%;
	/* position: relative; */
}
.container {
	max-width: 986px;
	margin: 0 auto;
	/* position: relative;
	z-index: 1; */
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

/* header */
header {
	background-color: #4c97a2;
}
header .header-row .logo {
	padding: 27px 16px;
}
header .header-row .logo .logo-item {
	color: #ffffff;
	font-size: 40px;
	font-family: "CherrySwash";
}

header .header-row {
	display: flex;
	justify-content: space-between;
}
header .page-nav li.nav-item {
	font-family: "HelveticalCondensed";
	font-size: 18px;
	color: #dce3e4;
	text-transform: uppercase;
	padding-left: 21px;
	cursor: pointer;
}
header .page-nav li.nav-item:not(:last-child)::after {
	content: "/";
	font-size: 18px;
	color: #dce3e4;
	padding-left: 21px;
	vertical-align: middle;
}
header .page-nav li.nav-item:hover {
	color: #ffffff;
}
header .page-nav {
	display: flex;
	align-items: center;
	margin-right: 16px;
}

@media (max-width: 767px) {
	header .header-row nav {
		display: none;
	}
	header .header-row .logo {
		padding: 20px 16px 20px 16px;
	}
	header .header-row .logo .logo-item {
		font-size: 30px;
	}
}
/* banner */

.banner {
	width: 100%;
	background: url(../images/Sea.jpg) no-repeat;
	background-size: cover;
}

.banner-content .center-content {
	display: flex;
	align-items: center;
	padding-top: 130px;
	padding-bottom: 33px;
}

.banner-content .center-content .title {
	text-transform: uppercase;
	font-size: 44px;
	color: #e4e4e4;
	font-family: "HelveticalBold";
	text-align: center;
	width: 60%;
}
.banner-content .center-content .button-body {
	border: 3px solid #e4e4e4;
	border-radius: 5px;
	padding: 10px 0;
	margin-top: 45px;
	cursor: pointer;
	transition: 0.5s linear;
}
.banner-content .center-content .button-body:hover {
	border: 3px solid #fff;
	color: #ffffff;
	background-color: rgba(175, 177, 180, 0.2);
}
.banner-content .center-content .main-button {
	font-family: "HelveticalLight";
	font-size: 30px;
	color: #e4e4e4;
	padding: 0 45px;
}

.banner-content .center-content ul.slider-status {
	margin-top: 119px;
}
.banner-content .center-content ul.slider-status li {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 50%;
	margin-left: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.banner-content .center-content {
		padding-top: 100px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.banner-content .center-content {
		padding-top: 80px;
		padding-bottom: 10px;
	}
	.banner-content .center-content .title {
		font-size: 28px;
	}
	.banner-content .center-content .main-button {
		font-size: 20px;
		padding: 0 25px;
	}
	.banner-content .center-content .button-body {
		margin-top: 25px;
		padding: 5px 0;
	}
	.banner-content .center-content ul.slider-status {
		margin-top: 99px;
	}
}

/* main > firsst section */
.first-section {
	background-color: #ffffff;
}
.first-section .lorem-content {
	display: flex;
	align-items: center;
	padding: 75px 0px;
}
.first-section .lorem-content .lorem-title {
	width: 65%;
	font-size: 30px;
	color: #4c505d;
	font-family: "HelveticalLight";
	text-align: center;
}
.first-section .lorem-content .subtitle {
	width: 90%;
	color: #4c505d;
	font-size: 14px;
	font-family: "HelveticalRoman";
	text-align: center;
	padding-top: 45px;
}

.first-section .lorem-content ul.icons {
	width: 40%;
	display: flex;
	justify-content: space-around;
	padding-top: 65px;
}
.first-section .lorem-content ul.icons .icon-wrap {
	max-width: 30%;
	margin: 0px 10px;
}
.first-section .lorem-content ul.icons .icon-item {
	max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.first-section .lorem-content {
		padding: 50px 0px;
	}
	.first-section .lorem-content ul.icons {
		padding-top: 50px;
	}
}

@media (max-width: 767px) {
	.first-section .lorem-content {
		padding: 30px 0px;
	}
	.first-section .lorem-content ul.icons {
		width: 80%;
		padding: 35px 10px 0px 10px;
	}
	.first-section .lorem-content .subtitle {
		padding-top: 30px;
	}
}

/*  main > quote-container */
.quote-section {
	background-color: #00d089;
}

.quote-content {
	display: flex;
	align-items: center;
	padding: 95px 0px;
}
.quote-content .quote-block {
	display: flex;
	flex-direction: row;
}
.quote-content .quote-block .avatar {
	object-fit: cover;
	height: 173px;
	width: 173px;
}
.quote-content .quote-block .quote-jail {
	display: flex;
	justify-content: center;
	margin-left: 40px;
}
.quote-content .quote-block .name {
	text-transform: uppercase;
	font-size: 26px;
	font-family: "HelveticalBold";
	color: #fff;
	margin-bottom: 15px;
}
.quote-content .lorem-text {
	width: 95%;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-family: "HelveticalLight";
	line-height: 1.5;
	padding: 60px 10px 0px 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.quote-content {
		padding: 50px 0px;
	}
	.quote-content .lorem-text {
		padding: 45px 10px 0px 10px;
	}
}

@media (max-width: 767px) {
	.quote-content {
		padding: 30px 0px;
	}
	.quote-content .lorem-text {
		padding: 30px 10px 0px 10px;
		font-size: 15px;
	}
	.quote-content .quote-block .quote-jail {
		display: none;
	}
}
/* Map section */
.map-section {
	width: 100%;
	background: url("../images/map.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	justify-content: center;
}
.map-section .map-wrap {
	padding: 53px 0 33px 0px;
}
.map-section .map-content {
	padding: 53px 0px 37px 0px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.map-section .map-content .form-wrap {
	width: 70%;
}
.map-section .map-content .form-body {
	width: 100%;
	padding: 113px 0px 45px 0;
}

.map-section .form-body .form-item {
	border-radius: 0;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	width: 100%;
	font-family: "HelveticalLight";
	color: #000000;
	font-size: 14px;
	margin-bottom: 15px;
}
.map-section .form-body .form-item:last-child {
	height: 80px;
}
.map-section .form-body .form-item::placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	font-family: "HelveticalLight";
}
.map-section .form-body .btn-wrap {
	display: flex;
	justify-content: center;
	margin-top: 18px;
}
.form-body .btn-wrap .confirm {
	border: none;
	background: url("../images/check.png") no-repeat;
	background-size: 100% 100%;
	width: 65px;
	height: 65px;
	cursor: pointer;
}

@media (max-width: 767px) {
	.map-section .map-wrap {
		width: 100%;
		padding: 0px;
	}
	.map-section .map-content {
		border: none;
		background-color: transparent;
		width: 100%;
		padding: 0px;
	}
	.map-section .map-content .form-body {
		width: 100%;
		padding: 80px 0px 35px 0;
	}
	.form-body .btn-wrap .confirm {
		border: none;
		background-image: none;
		background-color: #00d089;
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
}
/* Footer */
footer {
	background-color: #00d089;
}
footer .footer-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer .footer-content > span {
	font-size: 14px;
	font-family: "HelveticalCondensed";
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 0;
}
